@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --backdrop-blur-backdrop-blur-xl: ;
  --blur-blur-2xl: ;
  --box-shadow-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px
    rgba(0, 0, 0, 0.1);
  --box-shadow-shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  --box-shadow-shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --box-shadow-shadow-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px
    -6px rgba(0, 0, 0, 0.1);
  --glow-brand-lg:
    0px 0px 64px 0px rgba(251, 146, 60, 1), 0px 0px 48px 0px rgba(
      251,
      146,
      60,
      1
    ), 0px 0px 32px 0px rgba(251, 146, 60, 1), 0px 0px 8px 0px rgba(
      253,
      186,
      116,
      0.5
    );
  --glow-brand-sm: 0px 0px 64px 0px rgba(251, 146, 60, 1), 0px 0px 8px 0px
    rgba(253, 186, 116, 0.5);
  --glow-emerald-lg: 0px 0px 64px 0px rgba(5, 150, 105, 1), 0px 0px 8px 0px
    rgba(110, 231, 183, 0.8);
  --glow-emerald-sm:
    0px 0px 64px 0px rgba(5, 150, 105, 1), 0px 0px 48px 0px rgba(5, 150, 105, 1), 0px 0px 32px 0px rgba(
      5,
      150,
      105,
      1
    ), 0px 0px 8px 0px rgba(110, 231, 183, 0.8);
  --text-2xl-font-semibold-font-family: "Inter", Helvetica;
  --text-2xl-font-semibold-font-size: 24px;
  --text-2xl-font-semibold-font-style: normal;
  --text-2xl-font-semibold-font-weight: 600;
  --text-2xl-font-semibold-letter-spacing: 0px;
  --text-2xl-font-semibold-line-height: 32px;
  --text-5xl-font-semibold-font-family: "Inter", Helvetica;
  --text-5xl-font-semibold-font-size: 48px;
  --text-5xl-font-semibold-font-style: normal;
  --text-5xl-font-semibold-font-weight: 600;
  --text-5xl-font-semibold-letter-spacing: 0px;
  --text-5xl-font-semibold-line-height: 100%;
  --text-6xl-font-semibold-font-family: "Inter", Helvetica;
  --text-6xl-font-semibold-font-size: 60px;
  --text-6xl-font-semibold-font-style: normal;
  --text-6xl-font-semibold-font-weight: 600;
  --text-6xl-font-semibold-letter-spacing: 0px;
  --text-6xl-font-semibold-line-height: 100%;
  --text-7xl-font-semibold-font-family: "Inter", Helvetica;
  --text-7xl-font-semibold-font-size: 72px;
  --text-7xl-font-semibold-font-style: normal;
  --text-7xl-font-semibold-font-weight: 600;
  --text-7xl-font-semibold-letter-spacing: 0px;
  --text-7xl-font-semibold-line-height: 100%;
  --text-8xl-font-semibold-font-family: "Inter", Helvetica;
  --text-8xl-font-semibold-font-size: 96px;
  --text-8xl-font-semibold-font-style: normal;
  --text-8xl-font-semibold-font-weight: 600;
  --text-8xl-font-semibold-letter-spacing: 0px;
  --text-8xl-font-semibold-line-height: 100%;
  --text-base-font-medium-font-family: "Inter", Helvetica;
  --text-base-font-medium-font-size: 16px;
  --text-base-font-medium-font-style: normal;
  --text-base-font-medium-font-weight: 500;
  --text-base-font-medium-letter-spacing: 0px;
  --text-base-font-medium-line-height: 24px;
  --text-base-font-normal-font-family: "Inter", Helvetica;
  --text-base-font-normal-font-size: 16px;
  --text-base-font-normal-font-style: normal;
  --text-base-font-normal-font-weight: 400;
  --text-base-font-normal-letter-spacing: 0px;
  --text-base-font-normal-line-height: 24px;
  --text-base-font-semibold-font-family: "Inter", Helvetica;
  --text-base-font-semibold-font-size: 16px;
  --text-base-font-semibold-font-style: normal;
  --text-base-font-semibold-font-weight: 600;
  --text-base-font-semibold-letter-spacing: 0px;
  --text-base-font-semibold-line-height: 24px;
  --text-lg-font-bold-font-family: "Inter", Helvetica;
  --text-lg-font-bold-font-size: 18px;
  --text-lg-font-bold-font-style: normal;
  --text-lg-font-bold-font-weight: 700;
  --text-lg-font-bold-letter-spacing: 0px;
  --text-lg-font-bold-line-height: 28px;
  --text-lg-font-semibold-font-family: "Inter", Helvetica;
  --text-lg-font-semibold-font-size: 18px;
  --text-lg-font-semibold-font-style: normal;
  --text-lg-font-semibold-font-weight: 600;
  --text-lg-font-semibold-letter-spacing: 0px;
  --text-lg-font-semibold-line-height: 28px;
  --text-sm-font-medium-font-family: "Inter", Helvetica;
  --text-sm-font-medium-font-size: 14px;
  --text-sm-font-medium-font-style: normal;
  --text-sm-font-medium-font-weight: 500;
  --text-sm-font-medium-letter-spacing: 0px;
  --text-sm-font-medium-line-height: 20px;
  --text-sm-font-normal-font-family: "Inter", Helvetica;
  --text-sm-font-normal-font-size: 14px;
  --text-sm-font-normal-font-style: normal;
  --text-sm-font-normal-font-weight: 400;
  --text-sm-font-normal-letter-spacing: 0px;
  --text-sm-font-normal-line-height: 20px;
  --text-sm-font-semibold-font-family: "Inter", Helvetica;
  --text-sm-font-semibold-font-size: 14px;
  --text-sm-font-semibold-font-style: normal;
  --text-sm-font-semibold-font-weight: 600;
  --text-sm-font-semibold-letter-spacing: 0px;
  --text-sm-font-semibold-line-height: 20px;
  --text-xl-font-medium-font-family: "Inter", Helvetica;
  --text-xl-font-medium-font-size: 20px;
  --text-xl-font-medium-font-style: normal;
  --text-xl-font-medium-font-weight: 500;
  --text-xl-font-medium-letter-spacing: 0px;
  --text-xl-font-medium-line-height: 28px;
  --text-xl-font-semibold-font-family: "Inter", Helvetica;
  --text-xl-font-semibold-font-size: 20px;
  --text-xl-font-semibold-font-style: normal;
  --text-xl-font-semibold-font-weight: 600;
  --text-xl-font-semibold-letter-spacing: 0px;
  --text-xl-font-semibold-line-height: 28px;
  --text-xs-font-medium-font-family: "Inter", Helvetica;
  --text-xs-font-medium-font-size: 12px;
  --text-xs-font-medium-font-style: normal;
  --text-xs-font-medium-font-weight: 500;
  --text-xs-font-medium-letter-spacing: 0px;
  --text-xs-font-medium-line-height: 16px;
  --text-xs-font-normal-font-family: "Inter", Helvetica;
  --text-xs-font-normal-font-size: 12px;
  --text-xs-font-normal-font-style: normal;
  --text-xs-font-normal-font-weight: 400;
  --text-xs-font-normal-letter-spacing: 0px;
  --text-xs-font-normal-line-height: 16px;
  --text-xs-font-semibold-font-family: "Inter", Helvetica;
  --text-xs-font-semibold-font-size: 12px;
  --text-xs-font-semibold-font-style: normal;
  --text-xs-font-semibold-font-weight: 600;
  --text-xs-font-semibold-letter-spacing: 0px;
  --text-xs-font-semibold-line-height: 16px;
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
